include AUTHORS.rst
include CONTRIBUTING.md
include HISTORY.rst
include LICENSE
include README.md

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py *.jpg *.png *.gif
